:root {
  --font-heading: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --color-main: #434455;
  --background-color: #ffffff;
}

body {
  font-family: var(--font-family);
  color: var(--color-main);
  background-color: var(--background-color);
}

/*start global reset*/

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*end global reset*/

.big-first-letter {
  text-transform: uppercase;
}

.web {
  color: #4d5ae5;
  font-family: var(--font-heading);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
}

.logo {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo:focus {
  color: #4d5ae5;
}

.h1 {
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  /* Header 1 */
  font-family: var(--font-family);
  font-size: 56px;

  font-weight: 700;
  line-height: 107%;
  letter-spacing: 0.02em;
}

.h2 {
  text-decoration: none;
  color: #2e2f42;
  text-align: center;

  /* Header 2 */
  font-family: var(--font-family);
  font-size: 36px;

  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.h3 {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: var(--font-family);
  font-size: 20px;

  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.p {
  text-decoration: none;
  color: var(--color-main);
  text-align: center;

  /* Body */
  font-family: var(--font-family);
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.32px;
}

.menu > {
  color: #2e2f42;
}

.contacts {
  text-decoration: none;
  color: var(--color-main);
  font-style: normal;
  font-family: var(--font-family);
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.32px;
}
.contacts:hover {
  outline-color: #404bbf;
}
.contacts:focus {
  outline-color: #404bbf;
}

.filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.filter-button:hover {
  color: #fff;
  background-color: #404bbf;
}
.filter-button:focus {
  color: #fff;
  background-color: #404bbf;
}

.other-button {
  color: var(--iris, #4d5ae5);
  text-align: center;

  /* Button Text */
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background-color: #f4f4fd;
  cursor: pointer;
}

ul {
  list-style: none;
}

.nav-link {
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* Body Medium */
  font-family: var(--font-family);
  font-size: 16px;
  font-style: none;
  font-weight: 500;
  line-height: 150%;
}

.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}

.contacts-link {
  color: var(--color-main);
  letter-spacing: 0.02em;
  /* Body */
  font-family: var(--font-family);
  font-size: 16px;
  font-style: none;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: #404bbf;
}
/* Button Text */
.first-button {
  color: #ffffff;
  letter-spacing: 0.64px;
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.first-button:hover,
.first-button:focus,
.first-button:active {
  background-color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.first-h {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 107%;
  letter-spacing: 0.02em;
  width: 496px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 48px;
}

.body-medium {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.second-h {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-family: var(--font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.045em;
  text-transform: capitalize;
}

.third-h {
  color: #2e2f42;
  /* Header 3 */
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.025em;
}

.description {
  color: #434455;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.what {
  background-color: #f4f4fd;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 700;
  line-height: 111.111%;
  text-transform: capitalize;
}

.description-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
  text-align: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: var(--font-family);
  font-size: 16px;
}

.footer-back {
  background-color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
  font-family: var(--font-heading);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.034em;
  text-transform: uppercase;
}

.team-card {
  color: #2e2f42;
  text-align: center;

  /* Header 3 */
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.025em;
}

.container {
  width: 1158px;
  padding: 0 15 px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px #e7e9fc;
  align-content: center;
}

.top-line {
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.logo-location {
  margin-top: 25, 5 px;
  margin-right: 76 px;
  margin-bottom: 25, 5 px;
  margin-left: 156 px;
}

.menu-elements {
  margin-top: 24px;
  margin-right: 332 px;
  margin-bottom: 24px;
  margin-left: 0;
}

.address-elements {
  gap: 40px;
}

.header-and-button {
  text-align: center;
  padding: 188px 0;
  border: none;
}

.section-b {
  padding: 120px 0;
}

.list-b {
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.list-item-b {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
